<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="inetBanking">



	<listeners>
		<listener class-name="com.iNetBankingV1.utilities.Reporting" />

	</listeners>

	<test name="Banking Application Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.iNetBankingV1.testCases.TC_LoginTest_001" />
			<class name="com.iNetBankingV1.testCases.TC_LoginTestDataDriven_001" />
			<class name="com.iNetBankingV1.testCases.TC_AddCustomerTest_002" />
		</classes>
	</test>
</suite>


